@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* background-color: #f8fafc; */
  /* #f8fafc */
}
@layer components {
  .itemMenu {
    @apply font-light dark:text-white text-slate-900 dark:hover:text-gray-300 hover:text-gray-600 hover:cursor-pointer hover:underline hover:decoration-[#892832]/80  hover:decoration-4 hover:underline-offset-4 active:underline hover:scale-110 transition-transform duration-200 ease-out;
  }
}
